.menuTitle{
    justify-self: start;
    cursor: pointer;
}

.navigationBarItems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    padding: 0 30px;
    background-color: darkgreen;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    width: 95%;
    height: 80px;
    border-radius: 13px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
}

.navigationMenu{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 10px;
    align-items: center;
    text-align: center;
    justify-content: end;
    list-style: none;
}

.navigationLink{
    text-decoration: none;
    color: blue;
    padding: 0.7rem 1rem;
    white-space: nowrap;
}

.navigationLink:hover{
    background: rgb(80,80,238);
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

.menuIcon{

}