label{
    margin-left: 1vw;
}
.formcreatetest{
    border-radius: 10px;
    border: var(--border-color);
    border-width: 0.3vh;
    height: 50vh;
    overflow: scroll;
    margin-top:3vh; 
    margin-left: 1vw;
    margin-right: 1vw;
}
.longinput{
    border-radius: 5px;
    border: var(--border-color);
    color: var(--primary-color);
    width: 50vw;
    height: 4vh;
    font-size: 2vh;
}
.middleinput{
    width: 10vw;
}
.buttoncrea{
    margin-top: 8vh;
    margin-left: 1vw;
    font-size: 1.5vw;
    height: 8vh;
}
.buttonmanagequestion{
    margin-top: 8vh;
    margin-left: 1vw;
    font-size: 1em;
    height: 2em;
}
.test{
    margin-left: 1vw;
}
.newtest{
    border-radius: 5px;
    border: var(--border-color);
    font-size: 1vw;
    font-weight: lighter;
    color: var(--primary-color);
    height: 4vh;
}
.checkbox{
   color: var(--primary-color);
}
@media screen and (orientation:portrait){
    .buttoncrea{
        font-size: 3vw;
        height: 5vh;
        width: 30vw;
    }
    .buttonmanagequestion{
        font-size: 2vh;
    }
    .newtest{
        font-size: 3vw;
    }
    label{
        font-size: 3.5vw;
    }
}