@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

:root{
  font-family: 'Releway', lighter, sans-serif;
  --primary-color: #ba262e;
  --secondary-color: black;
  --third-color:white;
  --border-color: 0.5px solid black;
}
h1{
  text-align: left;
  font-weight: lighter;
  font-size: 7vw;
  color: var(--primary-color);
  text-align: center;
}
h2{
  font-weight: lighter;
  font-size: 5vw;
  color: var(--secondary-color);
}
h3{
  font-size: 3vw;
  font-weight: bold;
  color: var(--primary-color);
  margin-left: 1vw;
}
h4{
  font-size: 1.5em;
  margin-left: 1vw;
  font-weight: lighter;
  color: var(--primary-color);
}
h5{
  font-size: 1.5vw;
  margin-right: 1vw;
  flex-wrap: nowrap;
  font-size: 1.2vw;
  align-self:center;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  letter-spacing: 0.12em;
  word-spacing: 0.16em;
  font-size: 20px;
}

@media screen and (orientation:portrait){
  h1{
    font-size: 15vw;
  }
  h2{
    font-size: 8vw;
  } 
  h3{
    font-size: 1.2em;
  }
}